<div class="container">

  <div class="jumbotron">
    <h1>Midpoint Display Page</h1>
  </div>

  <!-- display posted data -->
  <h2>Posted Data:</h2>
  <ul>
    {{{list}}}
  </ul>

  <!-- Demonstrate arbor.js -->
  <h2>Data Visualization Example (Dummy Data)</h2>

  <div id="testdata">

  </div>
  <!-- arbor demo from https://gist.github.com/RC1140/1036344/372f96bc3efd344f274a1440e2a4f3ff07d9f87d -->
  <!-- http://blog.thinkst.com/2011/06/simple-graphs-with-arborjs.html -->

  <canvas id="viewport" width="800" height="600"></canvas>
  <script language="javascript" type="text/javascript" src="/js/draw-results.js"></script>

</div>
