{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>Lyra Graphical Web Crawler</h1>
    <hr class="my-4">
    <p class="lead">
        Spicy jalapeno bacon ipsum dolor amet sausage jowl leberkas tongue pastrami beef shankle ball tip turkey ham hock tri-tip pork chop. Turkey hamburger t-bone, pork belly beef meatloaf tenderloin frankfurter pig ribeye shoulder leberkas. Sirloin alcatra corned beef meatloaf beef ribs, chicken pork loin picanha t-bone andouille filet mignon. Ham bresaola tongue, shoulder sausage capicola shank cow ball tip short ribs pastrami venison beef turkey. Kielbasa turkey pork loin alcatra t-bone meatloaf rump cow chuck. Capicola biltong beef strip steak meatloaf prosciutto shoulder corned beef chuck.
    </p>
    <hr class="my-4">
    <form class="start_button" action="/search">
      <button type="submit" class="btn btn-info">Start Searching</button>
    </form>
    <!-- <button class="btn btn-info">
      <a href="/search">
        Start Searching
      </a>
    </button> -->
  </div>
{% endblock %}
