{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>Crawler Search Page</h1>
  </div>
  <div class="jumbotron">
    <h1>Search Parameters</h1>
    <hr class="my-4">
    <p class="lead">
    {% from "includes/_form_helpers.html" import render_field %}
    <form class="search" method="POST">
      <div class="form-group">
        {{ render_field(form.starting_url, class_="form-control") }}
      </div>
      {{ render_field(form.method) }}
      {{ render_field(form.depth) }}
      <div class="form-group">
        {{ render_field(form.keyword, class_="form-control") }}
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
{% endblock %}
